.hero-slider {
  filter: brightness(0.3) contrast(0.9);
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

.carousel-item {
	height: 100vh;
	min-height: 300px;
}

.Yourpain{
width: 100%;
object-fit: cover;
height: 100vh;
}
#slide-Your{
  background-color: rgba(3, 3, 3, 0.349);
}


/* 
.btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #e93f1a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn-box a:hover {
  background-color: transparent;
  border-color: #e93f1a;
  color: #e93f1a;
} */

.carousel-caption{
  margin: 50px;
}

.navbar-expand-lg .navbar-nav .nav-item .menu-active {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}

.container .navbar-brand{
  font-size: 24px;
  font-weight: 700;
  color: #ffffff !important;
  text-transform: uppercase;
}

#navbar-respon-toggler{
  outline: none;
}
#navbar-respon-toggler:focus{
  box-shadow: none;
}

#offcanvasExample {
  max-width: 70%;
}
.offcanvas-body ul li {
  padding: 12px 0;
}

#toggler-icon{
  background-image: url('../images/menu.png');
  background-size: 55px;
} 
