.navbar-scroll {
    background-color: rgb(104, 100, 100)
}

.navbar-page {
    background-color: rgb(104, 100, 100)
}

/* .navbar-expand-lg .navbar-nav .nav-item .active-menu{
    color: red;
}


.navbar-expand-lg .navbar-nav .nav-item .menu-active:hover {
    color: rgb(255, 149, 0);
    letter-spacing: 2px;
    font-size: 1em;
    transition: all ease 0.5s;
} */


.navbar-expand-lg .navbar-nav .nav-item .menu-active:hover{
  color: rgb(255, 149, 0);
  letter-spacing: 2px;
  font-size: 1em;
  transition: all ease 0.5s;
}

.navbar-expand-lg .navbar-nav .nav-item .dropdown-menu {
    position: absolute;
    width: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 45px #00000020;
    transition: all ease 0.5s;
    opacity: 1;
    margin-top: 10px;
    z-index: -999;

}

/* .navbar-expand-lg .navbar-nav .nav-item:hover .dropdown-menu{
    z-index: 99;
    opacity: 1;
    margin-top: 10px;
} */